<div class="profile-explanation-container">
    <div class="row profile-explanation pb-0 m-0 w-100">
        <div id="profile1-overview" class="profile-explanation-overview  w-100">
            <img class="svg large-summary-icon" src="../assets/img/genk-networks.svg" />
            <p id="profile1-paragraph">Profile1-paragraph</p>
        </div>
    </div>
    <div class="row profile-explanation m-0 w-100">
        <div id="profile1-overview" class="profile-explanation-overview  w-100">
            <div class="col-12 background-white">
                <div class="row min-height-70">
                    <div class="col-7 p-0">
                        <div class="height-50 mt-4">
                            Van <div class="location-circle-container location-circle-container-inline">
                                <img class="svg location-circle inline-svg" src="../../../assets/img/circle.svg" />
                                <div class="location-circle-centered location-circle-inline">A</div>
                            </div> naar <div class="location-circle-container location-circle-container-inline">
                                <img class="svg location-circle inline-svg" src="../../../assets/img/circle.svg" />
                                <div class="location-circle-centered location-circle-inline">B</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 p-0">
                        <div class="distance profile-vertical-center font-big">0 km</div>
                    </div>
                </div>
                <div class="row min-height-70">
                    <div class="col-7 p-0">
                        <img class="svg pl-4 height-50" src="../assets/img/fiets.svg">
                    </div>
                    <div class="col-5 p-0">
                        <div class="time profile-vertical-center font-big">0 min</div>
                    </div>
                </div>
                <div class="row min-height-70">
                    <div class="col-7 p-0">
                        <img class="svg height-50" src="../assets/img/fiets-elec.svg">
                    </div>
                    <div class="col-5 p-0">
                        <span class="time-electric profile-vertical-center ">0 min</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <span id="profile1-instruction-extra"></span>
    </div>
    <div id="profile1-height-chart" class="row d-flex align-items-end flex-grow-1">
        <svg class="ml-3">

        </svg>
    </div>
</div>