@import './node_modules/mapbox-gl/dist/mapbox-gl.css';
@import './assets/css/bootstrap.min.css';
@import './assets/css/size_toggles.css';
@import './assets/css/general_style.css';
@import './assets/css/safari-fix.css';
@import './instances/bike4brussels/index.css';


