/** GENK BRANDING STYLE **/

/***********************General stuff ********************/


.btn {
    background-color: #FFFFFF;
    border: none;
}

.btn:hover {
    background-color: rgb(134, 154, 184);
}



/*********************** TOP BAR ********************/

.logo-image {
    background: url("./logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top
}

.location-input-group {
    padding-left: 0;
    padding-right: 5px;
    border-bottom: 2px solid #2D4959 !important;
}

.location-circle-container {
    /*The small 'A' or 'B' in the circle in the from/to fields */
    position: relative;
    text-align: center;
    color: #00808B;
    padding-top: 7px;
}


.form-control,
.form-control::placeholder {
    color: #00808B;
}


/*********************** Profile selection/sidebar styling ********************/


.sidebar-colors {
    background: #00808B;
    color: #ffffff;
}



.close-button-small-screen {
    background: #00808B;
    color: #FFFFFF;
}

.close-button-small-screen {
    background: #2D4959;
    margin: 0;
    padding: 0;
}



.close-button-small-screen svg path {
    stroke: red;
    fill: red;
}



.profile-selection-button-non-active {
    background: #2D4959;
    color: white;
}

.profile-selection-button-active {
    background: #00808B;
    color: #FFFFFF;
}

.profile-selection-button-active svg path,
.profile-selection-button-active svg circle {
    fill: white;
    stroke: white;
}

.profile-selection-button-non-active svg path,
.profile-selection-button-non-active svg circle{
    fill: white;
    stroke: white;
}

.electric-bike-speedup {
    background: #00808B;
    color: #FFFFFF;
}

.location-circle-container {
    position: relative;
    text-align: center;
    color: #00808B;
    padding-top: 7px;
}

.location-circle-container svg circle {
    fill: lightgrey;
}


/*********************** Translation buttons ********************/

.translation-buttons {
   
}

.language-button {
    background-color: #00808B;
    color: #ffffff;
}

.language-button.active {
    background-color: #2D4959;
    box-shadow: none !important;
}

/********************* markers *************************/


/* The marker on the map */
.marker {
    background-image: url('../../assets/img/marker.svg');
    background-size: cover;
    width: 31px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    color: rgb(134, 154, 184); /* Colour of the 'A' and 'B' on a marker in the map*/
}