/** ANYWAYS BRANDING STYLE **/

.logo-image {
    background:url("./logo.svg");
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center top    
}

.profile-1-icon{
    background:url("./logo.svg");
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center top;
}


.close-button-small-screen {
    background: #ffc000;
    color: black;
}


.profile-selection-button-non-active {
    background: #cc9000;
    color: white;
}

.profile-selection-button-active {
    background: #ffc000;
    color: white;
}




/* Button icons: make them white or contrasting with the background colour */
.profile-selection-button-active svg path,
.profile-selection-button-active svg circle {
    fill: white;
    stroke: white;
}

/* Button icons (non-active): make them white or contrasting with the background colour */
.profile-selection-button-non-active svg path,
.profile-selection-button-non-active svg circle {
    fill: white;
    stroke: white;
}

.electric-bike-speedup {
    background: #ffc000;
    color: white;
}



.sidebar-colors {
   background-color: #ffc000;
   color: white;
}





.location-input-group {
    padding-left: 0;
    padding-right: 5px;
    border-bottom: 2px solid #cc9000 !important; /*THe line under the input fields*/
}


/*The small 'A' or 'B' in the circle in the from/to fields */
.location-circle-container {
    position: relative;
    text-align: center;
    color: #cc9000;
    padding-top: 7px;
}

/* Cross in input field*/
.location-input-group svg path {
    stroke: #cc9000;
}

