/** ANYWAYS BRANDING STYLE **/

.logo-image {
    background:url("./logo.svg");
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center top    
}

.profile-1-icon{
    background:url("./logo.svg");
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center top;
}


.close-button-small-screen {
    background: #ffc000;
    color: black;
}


.profile-selection-button-non-active {
    background: #cc9000;
    color: white;
}

.profile-selection-button-active {
    background: #ffc000;
    color: white;
}

.profile-selection-button-active svg path,
.profile-selection-button-active svg circle {
    fill: white;
    stroke: white;
}

.profile-selection-button-non-active svg path,
.profile-selection-button-non-active svg circle {
    fill: white;
    stroke: white;
}

.electric-bike-speedup {
    background: #ffc000;
    color: white;
}



.location-circle-container {
    position: relative;
    text-align: center;
    color: #2D4959;
    padding-top: 7px;
}

.sidebar-colors {
   background-color: #ffc000;
   color: white;
}
